@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.temjai {
  position: relative;
  .extraTitle{
      font-size: 72px;
  }

  .xxxl{
      font-size: 30px;
  }
  .xxl{
      font-size: 28px;
  }
  .xl{
      font-size: 24px;
  }
  .l{
      font-size: 22px;
  }
  .m{
      font-size: 20px;
  }
  .s{
      font-size: 18px;
  }
  .xs{
      font-size: 16px;
  }

  .animation{
      transition: all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
  }

  .temjai{
      position: fixed;
      z-index: 100;
      bottom: 20px;
      right: 30px;
      background-color: steelblue;
      border-radius: 100%;
      width: 80px;
      padding: 5px;
      height: 80px;
      -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
      transform: scale(0.9);
  }

  .temjai:hover{
      transform: scale(1);
  }

  .temjaitooltip {
      display: inline-block;
      border-bottom: 1px dotted black;
    }
    
  .temjaitooltiptext {
      visibility: hidden;
      width: 200px;
      background-color: steelblue;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 5px;
      position: absolute;
      z-index: 1;
      top: -5px;
      right: 110%;
  }

  .temjaitooltiptext::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent steelblue;
  }
  .temjaitooltip:hover .temjaitooltiptext {
      visibility: visible;
  }

  .temjaichk{
      position: absolute;
      visibility: hidden;
      z-index: -11111;
  }

  .closetemjai{
      margin: 0;
      color: white;
      cursor: pointer;
  }

  .temjaitooltiptext2 {
      visibility: hidden;
      width: 300px;
      background-color: lightsteelblue;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 110%;
      cursor: auto;
  }

  .temjaitooltiptext2::after {
      content: "";
      position: absolute;
      bottom: 30px;
      left: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent lightsteelblue;
  }

  .message-block{
      margin: 5px;
      background-color: white;
      border-radius: 6px;
      height: 200px;
      max-height: 200px;
      cursor: auto;
      overflow-y:auto;
      overflow-x: hidden;
  }

  .icon-left{
      margin-right: 5px;
  }

  .tempjaiChat{
      position: relative;
      padding: 5px;
  }

  .tempjaiChat .tempjaiText{
      background-color: #a4c9df;
      color: #313939;
      border-radius: 6px;
      padding: 5px;
      z-index: 1;
      width: fit-content;
      float: left;
  }

  .tempjaiChat .tempjaiText::after {
      content: "";
      position: absolute;
      top: 15px;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent #a4c9df transparent transparent;
  }

  .icon-right{
      margin-left: 5px;
  }

  .myChat {
      position: relative;
      padding: 5px;
  }
    
  .myChat .myChatText {
      background-color: #b5e691;
      color: #313939;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      z-index: 1;
      width: fit-content;
      float: right;
  }
    
  .myChat .myChatText::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent #b5e691;
  }
}