@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.home1Template {
  position: relative;
  .headerBlockTitle{
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    margin: 10px 10px 0px 10px;
    font-size: 20px;
    background-color: steelblue;
    color: white;
    font-weight: 800;
  }

  .contentBlock{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid gainsboro;
    height: 500px;
    overflow: hidden;
    margin: 0px 10px 10px 10px;
    background-color: white;
  }

  .backgroundModal{
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
  }

  .mainModal{
    position: fixed;
    z-index: 300;
    top: 105px;
    left: 0;
    display: none;
    width: 90%;
    margin: 0px 5%;
    background-color: white;
    border-radius: 10px;
  }

  .subModal{
    position: relative;
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    background-color: ghostwhite;
    border-radius: 10px;
    min-width: 500px;
    top: 20px;
  }

  .modalTitle{
    font-size: 1.5em; 
    font-weight: 800;
  }
  
  .modalContent{
    font-size: 16px;
  }

  .folderBtn{
    padding: 5px 10px;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    margin: 0 3px;
  }

  .folderBtn:hover{
    background-color: #3893ba;
    color: white;
  }

  .docBlock{
    transform: scale(1);
  }

  .centerDiv{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .uploadImageButton{
    background-color: #535c68;
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    font-weight: 800;
  }
}