@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.createGroup {
  .headerContent{
    position: relative;
    text-align: center;
    padding: 50px 15px 50px;
    width: 100%;
  }

  .headerContentInner{
    padding: 50px 0px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    width: 80%;
    margin: auto;
  }

  .homeTitle{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
  }

  .hrHeader{
    margin: 30px auto;
  }
  
  .departmentBlock{
    padding: 2.5em 7%;
    position: relative;
    background-color: #fff;
  }

  .departmentContent{
    padding: 15px;
  }

  .departmentTitle{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    line-height: 1.2;
  }

  .departmentCard{
    width: 25%;
    padding: 15px;
    position: relative;
  }

  .departmentCardInside{
    border: 1px solid rgba(0,0,0,.125);
    width: 100%;
    height: 300px;
    border-radius: .25rem;
    background-color: #fff;
    cursor: pointer;
  }

  .departmentCardInside:hover{
    box-shadow: 0px 1px 4px 0px;
  }

  .cardImage{
    height: 160px;
    width: 100%;
    border-top-left-radius: calc(-1px + 0.25rem);
    border-top-right-radius: calc(-1px + 0.25rem);
    position: relative;
  }

  .cardBody{
    padding: 1.25rem;
    width: 100%;
    .cardTitle{
      font-size: 1.5rem;
      line-height: 1.2;
      margin-bottom: 0.5rem;
      font-weight: 500;
      color: #007bff;
    }
    .cardText{
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 0;
      color: #007bff;
    }
  }

  .addDepartmentDiv{
    text-align: center;
    font-size: 18px;
    padding-top: 100px;
  }

  .centerDiv{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .backgroundModal{
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
  }

  .mainModal{
    position: fixed;
    z-index: 300;
    top: 100px;
    left: 0;
    width: 60%;
    margin: 0px 20%;
    background-color: white;
    border-radius: 10px;
    padding: 20px 30px;
    transform: scale(0);
    transition: ease-in-out 0.3s;
    border: 1px solid gainsboro;
  }

  .bouncing{
    text-align: center;
    .textLoader{
      text-align: center;
    }

    .loader {
      text-align: center;    
      max-height: 80px;
    }
    .loader span {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        margin: 50px 3px;
        background: black;
        border-radius: 50px;
        -webkit-animation: loader 0.9s infinite alternate;
        -moz-animation: loader 0.9s infinite alternate;
    }
    .loader span:nth-of-type(2) {
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
    }
    .loader span:nth-of-type(3) {
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
    }
    @-webkit-keyframes loader {
      0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -webkit-transform: translateY(0);
      }
      100% {
        width: 18px;
        height: 18px;
        opacity: 0.1;
        -webkit-transform: translateY(-15px);
      }
    }
    @-moz-keyframes loader {
      0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -moz-transform: translateY(0);
      }
      100% {
        width: 18px;
        height: 18px;
        opacity: 0.1;
        -moz-transform: translateY(-15px);
      }
    }

    @keyframes loader{
      0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -webkit-transform: translateY(0);
      }
      100% {
        width: 18px;
        height: 18px;
        opacity: 0.1;
        -webkit-transform: translateY(-15px);
      }
    }
  }

  .modalTitle{
    font-size: 1.5em; 
    font-weight: 800;
  }
  
  .modalContent{
    font-size: 16px;
  }
}