@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.newFeed {
  button{
    min-width: 0;
  }
  .extraTitle{
    font-size: 72px;
  }

  .xxxl{
    font-size: 30px;
  }
  .xxl{
    font-size: 28px;
  }
  .xl{
    font-size: 24px;
  }
  .l{
    font-size: 22px;
  }
  .m{
    font-size: 20px;
  }
  .s{
    font-size: 18px;
  }
  .xs{
    font-size: 16px;
  }

  .animation{
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
  }

  .myNav3{
    background-color: white;
    color: black !important;
    cursor: pointer;
  }

  .myNav3:hover{
    background-color: #3885ba;
    color: white !important;
  }

  .content{
    position: relative;
  }

  .content img{
    width: 100%;
    height: 100%;
    max-width: 300px;
  }

  .user{
    width: 100px;
    text-align: center;
  }

  .userIcon{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: auto;
  }

  .usercontent{
    text-align: left;
    margin-bottom: 0;
    max-height: 40px;
    -webkit-box-shadow: inset 0px -9px 5px -2px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px -9px 5px -2px rgba(255,255,255,1);
    box-shadow: inset 0px -9px 5px -2px rgba(255,255,255,1);
    overflow: hidden;
  }

  .usertooltip {
    display: inline-block;
    max-width: calc(100% - 150px);
    position: relative;
    padding: 10px;
    border: 1px solid steelblue;
    background-color: white;
    border-radius: 6px;
  }

  .usertooltip .usertooltiptext {
    color: black;
    text-align: left;
    z-index: 1;
  }

  .usertooltip .usertooltiptext::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent steelblue transparent transparent;
  }
  .usertooltip:hover .usertooltiptext    {
    visibility: visible;
  }

  .myusertooltip {
    display: inline-block;
    max-width: calc(100% - 150px);
    position: relative;
    padding: 10px;
    border: 1px solid green;
    background-color: #dcffd8;
    border-radius: 6px;
  }

  .myusertooltip .myusertooltiptext {
    color: black;
    z-index: 1;
  }

  .myusertooltip .myusertooltiptext::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent green transparent transparent;
  }
  .myusertooltip:hover .myusertooltiptext    {
    visibility: visible;
  }

  .likeReplyShare{
    width: 100%;
    margin-left: 100px;
    padding-top: 10px;
  }

  .commentBtn{
    border: 0;
    background-color: transparent;
    padding: 0px 5px;
    border-radius: 5px;
  }

  .commentBtn:hover{
    background-color: steelblue;
    color: white;
  }

  .head-img .img{
    /* border: 1px solid salmon; */
    height: auto;
    width: 100%;
  }

  .mainModal{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    transition: opacity .5s;
    top: 85px;
    left: 0;
    overflow: hidden;
  }

  .subModal{
    position: relative;
    width: 70%;
    margin: 20px auto;
    padding: 10px;
    background-color: ghostwhite;
    border-radius: 10px;
    min-width: 500px;
    top: 20px;
  }

  .searchOptions{
    list-style-type: none;
    padding: 0;

    li{
      text-decoration: none;
      background-color: white;
      padding: 10px;
      border: 1px solid gainsboro;
      color: black;
      cursor: pointer;
    }

    li:hover{
      background-color: #95afc0;
      font-weight: 900;
      color: white;
    }
  }

  .hashtag{
    /* background-color: white; */
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }
  .hashtag label{
      font-weight: 500;
      text-align: center;
      width: 100%;
      padding: 10px;
  }
}