@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.searchHeader {
  .extraTitle{
    font-size: 72px;
  }

  .xxxl{
      font-size: 30px;
  }
  .xxl{
      font-size: 28px;
  }
  .xl{
      font-size: 24px;
  }
  .l{
      font-size: 22px;
  }
  .m{
      font-size: 20px;
  }
  .s{
      font-size: 18px;
  }
  .xs{
      font-size: 16px;
  }

  .myNav2{
    background-color: #e8e9e9;
    }

    .myNav2:hover{
        background-color: #d1d3d3;
    }
}